<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Management of Department</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.rtl.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- Employer Create Modal -->
    <div class="modal fade" id="saveEmployerModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Employer</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="employerSaveForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="employerName" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="employerName"
                  name="employerName"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="employerMail" class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  id="employerMail"
                  name="employerMail"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="employerHousehold" class="form-label"
                  >Household</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="employerHousehold"
                  name="employerHousehold"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="employerBirth" class="form-label"
                  >Date of Birth</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="employerBirth"
                  name="employerBirth"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="departmentId" class="form-label">Department</label>
                <select id="departmentId" class="form-control"></select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-success">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Employer Edit Modal -->
    <div class="modal fade" id="editEmployerModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Employer Details</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="employerEditForm">
            <div class="modal-body">
              <input type="text" id="editEmployerId" />

              <div class="mb-3">
                <label for="editEmployerName" class="form-label">Name</label>
                <input type="text" class="form-control" id="editEmployerName" />
              </div>

              <div class="mb-3">
                <label for="editEmployerMail" class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  id="editEmployerMail"
                />
              </div>

              <div class="mb-3">
                <label for="editEmployerHousehold" class="form-label"
                  >Household</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="editEmployerHousehold"
                />
              </div>

              <div class="mb-3">
                <label for="editEmployerBirth" class="form-label"
                  >Date of Birth</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="editEmployerBirth"
                />
              </div>

              <div class="mb-3">
                <label for="editDepartmentId" class="form-label"
                  >Department</label
                >
                <select id="editDepartmentId" class="form-control"></select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-success">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Employer View Modal -->
    <div class="modal fade" id="viewEmployermodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Employer Details</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="viewEmployerId" />

            <div class="mb-3">
              <label for="viewEmployerName" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="viewEmployerName"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="viewEmployerMail" class="form-label">E-mail</label>
              <input
                type="email"
                class="form-control"
                id="viewEmployerMail"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="viewEmployerHousehold" class="form-label"
                >Household</label
              >
              <input
                type="text"
                class="form-control"
                id="viewEmployerHousehold"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="viewEmployerBirth" class="form-label"
                >Date of Birth</label
              >
              <input
                type="date"
                class="form-control"
                id="viewEmployerBirth"
                readonly
              />
            </div>

            <div class="mb-3">
              <label for="viewEmployerDepartment" class="form-label"
                >Department</label
              >
              <input
                type="text"
                class="form-control"
                id="viewEmployerDepartment"
                readonly
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>
                Employer
                <button
                  id="newEmployerButton"
                  class="btn btn-success float-end"
                >
                  New
                </button>
              </h4>
            </div>
            <div class="card-body">
              <table id="employerTable" class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Household</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Department</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody id="employerTableBody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/employers.js"></script>
  </body>
</html>
